

{% block content %}




        {% for search in cart.product.all %}




       <div class="card bg-light mb-2`" >
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ search.picture.url }}" class="card-img" alt="...">
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ search.product_name }}</h5>
            <p class="card-text">
                {{ search.id }} <br>
                {{ search.product_name }} <br>
                {{ search.price }} <br>

            </p>
            <p class="card-text"><small class="text-muted"></small></p>

              <h4>Option 1: <a href="{% url 'order-product' search.id %}" >Payment on delivery</a><br></h4>



              <h4>Option 2:</h4>

              <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                  </div>
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>

              <form action="{% url 'bkash-order-product' search.id %}" method="POST">
                  {% csrf_token %}
                  <input name="transaction_id" type="text" placeholder="Bkash transaction ID" required>
                  <button type="submit">Order with Bkash</button>
              </form>



              <a href="{% url 'delete-from-cart' search.id %}" >Remove</a>


          </div>
        </div>
      </div>
    </div>



        {% endfor %}

    <h2>Total: {{ total }}</h2>





{% endblock content %}
