{% extends 'Base_Product.html' %}

{% load static %}

{% block content %}


   <center> <h1 style="color: black"> <b>Shop</b></h1></center><br>
    <center><img src="https://tul.imgix.net/content/article/a_list_images/GREENASSEMBLEY-PRODUCTSHOOT-OCT2018-136.jpg?auto=format,compress&w=1200&h=630&fit=crop" hight="50" width="950" class="img-fluid" alt="Responsive image"></center><br><br>
    <br>
    <br>



    <center><h2 style="color: black"></h2></center><br>
    <p><h1><i>Whether you’re starting seeds, nurturing houseplants, or growing food indoors/outdoors, we have the helplines you need!
    We have plants, seeds, gardening tools to create your garden. We have indoor/outdoor decors to enlighten your dream garden.<br>
    So just sneak into our website to discover which one is right for you!</h1></p></i>



    <p><h6>
       <i> </i>
    </p></h6><br>
    <br>
    <br>
   <i><h2 style="color: black">All Products</i></h2><br>
    <br>

<div class="card-columns">
    {% for p in all_products %}
             <div class="card">
                <img src="{{ p.picture.url }}" class="card-img-top" alt="..." height="300" width="250">
                <div class="card-body">
                  <h5 class="card-title"><h2>{{ p.id }}</h2></h5>
                  <p class="card-text"> <h2>{{ p.product_name }}</h2></p>
                    <p class="card-text"> <h3>{{ p.price }}</h3></p><br>


{#                         http://127.0.0.1:8000/products/#}
                <a href="{{ p.id }}">
{#                     http://127.0.0.1:8000/products/product_id#}
                    <button type="button" class="btn btn-outline-primary">Details</button>
                </a>
                    </div>
      </div>



    {% endfor %}


        </div>
{% endblock content %}



